<a href="https://colab.research.google.com/github/LakshitaChitlangia/Coding-Club/blob/main/Copy_of_Week_2_Classwork_Notebook_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week 2: Basics**
---

### **Description**
In this week, we will familiarize ourselves with printing statements and creating variables.

<br>


<br>

### **Learning Objectives**
By the end of this lab, we will:
* Learn how to print strings
* Create variables to store strings

<a name="p1"></a>

---
## **Part 1: Printing Strings**
---

#### **Problem #1.1**

**Together**, let's print a hobby!

#### **Problem #1.2**

**Independently**, let's print your favorite food!

<a name="p1"></a>

---
## **Part 2: Variables**
---


### Remember, variable rules:

* Variable names can contain only letters, numbers, and underscores
* Can’t start with number. Spaces are not allowed in variable names
* Underscores can be used to separate words
* Avoid using Python keywords and function
* Short but descriptive
* Careful when using the lowercase letter l and the uppercase letter O (confusing with numbers 1 and 0)

#### **Problem #2.1**

**Together**, let's create a variable for a favorite color

#### **Problem #2.2**

**Independently**,  store your favorite food.

#### **Problem #2.3**

**Independently**,  store your name in the variable: name. Print your name. Change the variable into your friend's name. Print again.

In [ ]:
name =

<a name="p1"></a>

---
## **Part 3: Strings**
---


### **Remember, what is a string?**

* The first data type we’ll look at is the string.
* Strings are quite simple at first glance, but you can use them in many different ways.
* A string is simply a series of characters.
* Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings like this:
*   -"This is a string."
*   -'This is also a string.'

#### **Problem #3.1 (name.title())**

**Together**, take a look at this example!

In [ ]:
name = "aDa LovElace!"

#### **Problem #3.2 (name.lower())**

**Together**, take a look at this example!

In [ ]:
name = "aDa LovElace!"

#### **Problem #3.3 (name.upper())**

**Together**, take a look at this example!

In [ ]:
name = "aDa LovElace!"

#### **Problem #3.4 (string concatenating)**

**Together**,  Store a last name and a first name and combine them through concatenating to create a full name.

In [ ]:
first_name = "Jane"
last_name = "Doe"

In [ ]:
fruits = ['apple', 'bananas', 'watermelons']
print(fruits)

['apple', 'bananas', 'watermelons']

In [ ]:
fruits.append('apple')
print(fruits)

['apple', 'bananas', 'watermelons', 'apple', 'apple', 'apple']

In [ ]:
print(len(fruits))

6

In [ ]:
fruits.insert(1,'apple')
print(fruits)

['apple', 'apple', 'apple', 'bananas', 'watermelons', 'apple', 'apple', 'apple']

In [ ]:
print(fruits)

['apple', 'apple', 'apple', 'bananas', 'watermelons', 'apple', 'apple', 'apple']

In [ ]:
dollars = (1, 4, 6.02, 3.14)
print(dollars)

(1, 4, 6.02, 3.14)

In [ ]:
print(fruits[3:6:4])

['bananas']

In [ ]:
num1 = input("type a good number1")
print(num1)
num2 = input("type a good number2")
print(num2)
num3 = input("type a good number3")
print(num3)
num4 = input("type a good number4")
print(num4)
num5 = input("type a good number5")
print(num5)

l = list[ num1,num2,num3,num4,num5]

print(l)

l2 = list[5,3,6,8,2,1]
l2.sort()
print(l2)

type a good number11
1
type a good number21
1
type a good number31
1
type a good number41
1
type a good number51
1
list['1', '1', '1', '1', '1']

TypeError: ignored